<div class="jumbotron mb-5">
    <h1 class="display-4">How to download</h1>
    <p class="lead">Daily meditations is developed as an progressive web app, which means it can be installed on web, iphone and andriod phones without going through app stores</p>
    <hr class="my-4">
    <ul>
        <li>Navigate to <a href="https://dailymeditations.web.app/">https://dailymeditations.web.app/</a> on the phone browser</li>
        <li>An option to add this app to home will be populated at the bottom of the screen</li>
        <li>Select that option to install Daily meditations on phone</li>
    </ul>
    <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Progressive_web_application" role="button">Learn more on PWA</a>
  </div>