.main {
    background:url(../assets/sky-unsplash.jpg) no-repeat !important;
    padding-bottom:100px;
    background-size:cover;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  .navbar, #first-jumbo  {
    background: transparent !important;
  }

  .custom-font {
    font-family: 'Montserrat Alternates', sans-serif;
  }